.App {
  /* background-color: rgb(215, 154, 188); */
  background-color: rgb(154 215 207 / 38%);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top-bar {
  flex-direction: row;
  display: flex;
  width: 80%;
  align-self: center;
  align-items: center;
  position: relative;
  justify-content: center;
}

.left {
  position: absolute;
  animation-duration: 0.5s;
  transform: translateX(-85%);
}

.left-next {
  animation-name: left-animation;
}

@keyframes left-animation {
  0% {
    /* left: 40%; */
    transform: translateX(-43%);
  }
  100% {
    /* left: 300px; */
    transform: translateX(-85%);
  }
}

.left-2 {
  animation-name: left-animation-2;
  opacity: 0;
}

@keyframes left-animation-2 {
  0% {
    opacity: 1;
    /* left: 300px; */
    transform: translateX(-85%);
  }
  100% {
    opacity: 0;
    transform: translateX(-300%);
  }
}

.left-image {
  animation-name: left-animation-image;
  animation-duration: 0.5s;
  height: 350px;
  width: 300px;
}

@keyframes left-animation-image {
  0% {
    height: 400px;
  }
  100% {
    height: 350px;
  }
}

.left-image-2 {
  animation-name: left-animation-image-2;
  height: 0px;
  width: 0px;
}

@keyframes left-animation-image-2 {
  0% {
    height: 350px;
    width: 300px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}

.left-image-prev {
  animation-name: left-image-animation-prev;
}

@keyframes left-image-animation-prev {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.center {
  animation-name: center-animation;
  animation-duration: 0.5s;
  z-index: 1;
}

@keyframes center-animation {
  0% {
    margin-right: -50%;
  }
  100% {
    margin-right: 0px;
  }
}

.center-image {
  animation-name: center-image-animation;
  animation-duration: 0.5s;
  height: 400px;
  width: 300px;
}

.center-image-prev {
  animation-name: center-image-animation;
  animation-duration: 0.5s;
  height: 400px;
  width: 300px;
}

@keyframes center-image-animation {
  0% {
    height: 350px;
  }
  100% {
    height: 400px;
  }
}

.center-prev {
  animation-name: center-animation-prev;
}

@keyframes center-animation-prev {
  0% {
    margin-left: -50%;
  }
  100% {
    margin-left: 0px;
  }
}

.right {
  position: absolute;
  animation-duration: 0.5s;
  transform: translateX(85%);
}

.right-2 {
  animation-name: right-animation-2;
  opacity: 0;
  /* right: 150px; */
}

@keyframes right-animation-2 {
  0% {
    opacity: 1;
    /* right: 300px; */
    transform: translateX(85%);
  }
  100% {
    opacity: 0;
    transform: translateX(300%);
    /* right: 150px; */
  }
}

.right-image {
  animation-name: right-animation;
  animation-duration: 0.5s;
  height: 350px;
  width: 300px;
}

@keyframes right-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.right-image-2 {
  animation-name: right-animation-image-2;
  height: 0px;
  width: 0px;
}

@keyframes right-animation-image-2 {
  0% {
    height: 350px;
    width: 300px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}

.right-prev {
  animation-name: right-animation-prev;
}

@keyframes right-animation-prev {
  0% {
    /* right: 40%; */
    transform: translateX(43%);
  }
  100% {
    /* right: 300px; */
    transform: translateX(85%);
  }
}

.right-image-prev {
  animation-name: right-image-animation-prev;
}

@keyframes right-image-animation-prev {
  0% {
    /* opacity: 0; */
    height: 400px;
  }
  100% {
    /* opacity: 1; */
    height: 350px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  /* padding: 100px 0px 0px 0px; */
}

.slider-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.slider-text {
  width: 80%;
}

.slider-right-enter {
  transform: translateX(100%);
}

.slider-right-enter-active {
  transform: translateY(0%);
  transform: transform 1000ms ease-in-out;
}

.slider-right-exit {
  transform: translateX(0%);
}

.slider-right-exit-active {
  transform: translateY(-100%);
  transform: transform 1000ms ease-in-out;
}

.image-slider {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-title {
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 12em;
  white-space: nowrap;
  font-family: cursive;
}

.product-title .tooltiptext {
  visibility: hidden;
  background-color: black;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -10%;
}

.product-title:hover .tooltiptext {
  visibility: visible;
}

.product-category {
  color: grey;
}

.product-price {
  font-size: 22px;
  color: #49a0de;
}

.filter-text {
  font-family: serif;
  font-size: 18px;
  letter-spacing: 1px;
}

h4 {
  margin: 0;
  text-align: right;
  color: rgb(218, 85, 90);
}

p {
  margin: 0;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.blur {
  filter: blur(1px);
}

.card-image {
  padding: 10px;
  box-shadow: 2px 2px 5px #49a0deba;
  /* box-shadow: 1px 1px 10px black; */
}

.shadow {
  box-shadow: 5px 10px 20px lightgray inset;
}

.information {
  display: flex;
  flex-direction: column;
  /* padding: 10px 35px 10px 35px; */
  align-items: flex-start;
  position: relative;
  /* width: 95%; */
}

.information-parent {
  display: flex;
  padding: 20px 35px 10px 35px;
  align-items: flex-start;
  width: 95%;
  justify-content: space-between;
}

.filter {
  align-self: center;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
}

select {
  height: 50px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px grey;
  border: none;
}

select:hover {
  cursor: pointer;
}

.backArrow:hover {
  cursor: pointer;
}
